{{outlet}}
<h3>Add Restaurant</h3>
Name: {{input value=name type="text" id="name"}}
City: {{input value=author type="text" id="city"}}
<button class="btn btn-danger" type="submit" {{action 'addRestaurant'}}>Submit</button>
